:root{
    --glownykolor: rgb(124, 192, 248);
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: whitesmoke;
}
header{
    background-color: var(--glownykolor); 
    width: 100%;
    height: 50px;
    text-align: center;
}
#tytul{
    color: white;
    padding: 5px 0px;
}
#kolor{
    padding: 30px 29%;
}
/*
czerwony rgb(255, 61, 61)
pomaranczowy rgb(255, 145, 61)
zolty rgb(255, 213, 61)
zielony rgb(61, 255, 71)
niebieski rgb(124, 192, 248)
fioletowy rgb(236, 124, 248)*/
#blok{
    background-color: rgb(255, 61, 61);
    color: rgb(255, 61, 61);
    border: rgb(255, 61, 61) 1px solid;
    border-radius: 20px;
    padding: 70px 70px;
}
#odpowiedzi{
    height: 200px;
    width: 50%;
    text-align: center;
    margin: 10px 24%;
}
#odp{
    color: black;
}
.sprawdz{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: whitesmoke;
    border: whitesmoke 1px solid;
    font-size: large;
}
@media only screen and (min-width: 1080px){
    #kolor{
        padding: 30px 43.5%;
    }
}